---
# adapted from files/kube-lego/examples/gce/echoserver/ingress-tls.yaml
# 
apiVersion: extensions/v1beta1
kind: Ingress

metadata:
  
  {% if kube_lego_namespace -%}
  namespace: {{ kube_lego_namespace }}
  {% endif -%}
  
  name: {{ kube_lego_name }}
  
  annotations:
    kubernetes.io/tls-acme: "true"
    kubernetes.io/ingress.class: "gce"
  # / annotations
  
# / metadata

spec:
  
  # default backend so you can reach the service directly via IP
  backend:
    serviceName: {{ kube_lego_dest_name }}
    servicePort: {{ kube_lego_dest_port }}
  # / backend
  
  # The TLS backends
  tls:
  - hosts:
    {% for host in kube_lego_hosts -%}
    - {{ host }}
    {% endfor -%}
    secretName: {{ kube_lego_secret_name }}
  # / tls
  
  # Routing rules
  rules:
  {% for host in kube_lego_hosts -%}
    {%-
      set rule = {
        'path': '/',
        'service_name': kube_lego_dest_name,
        'port': kube_lego_dest_port,
      } | combine(kube_lego_rules.get(host, {}))
    -%}
  - host: {{ host }}
    http:
      paths:
      - path: {{ rule['path'] }}
        backend:
          serviceName: {{ rule['service_name'] }}
          servicePort: {{ rule['port'] }}
  {% endfor -%}
  
  # / rules
  
# / spec
