---
# coppied from 
# 
# https://github.com/jetstack/kube-lego/blob/aa96e546e41f20b40d48bc049e168287af630f6a/examples/gce/lego/00-namespace.yaml
# 
apiVersion: v1
kind: Namespace
metadata:
  name: kube-lego
